html, body {
  height: 100%;
}

body {
    padding-top: 50px;
}

.home-cards * {
    padding: 8px;
}

.home-card-image {
    height: 10rem;
}

.bg-fade {
    /*background-color: rgba(52, 58, 64, 0.05)!important;*/
}

.bg-dark {
    background-color: #4169e1!important;
}

/*
#0f4471
#155263
#872341
#b31e6f
#900c3f
#6941E1
*/

a {
    color: #E14169;
}

a:hover {
    color: #af0f37;
}

.btn-primary {
    background-color: #4169e1;
    border-color: #4169e1;
}

.btn-primary:hover {
    background-color: #2d55cd;
    border-color: #2d55cd;
}




.btn-link {
    color: #4169e1;
}

.btn-link:hover {
    color: #2d55cd;
}




.btn-outline-primary {
    color: #E14169;
    border-color: #E14169;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #E14169;
    border-color: #E14169;
}
